<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="TransPerfect_GlobalLink::config" title="GlobalLink Settings" sortOrder="50" />
                        </resource>
                    </resource>
                </resource>
                <resource id="TransPerfect_GlobalLink::translations" title="GlobalLink Translations" sortOrder="50">
                    <resource id="TransPerfect_GlobalLink::management" title="Management" sortOrder="10" />
                    <resource id="TransPerfect_GlobalLink::fieldform" title="Field Configuration" sortOrder="20" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
