<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="transperfect" translate="label" sortOrder="700">
            <label>TransPerfect</label>
        </tab>
        <section id="globallink" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>GlobalLink Configuration Settings</label>
            <tab>transperfect</tab>
            <resource>TransPerfect_GlobalLink::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <field id="version" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Current Version</label>
                    <frontend_model>TransPerfect\GlobalLink\Model\Config\Source\MakeReadOnly</frontend_model>
                    <backend_model>TransPerfect\GlobalLink\Model\Config\Source\Version</backend_model>
                </field>
                <field id="logging_level" translate="label" type="multiselect" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Logging Level</label>
                    <source_model>TransPerfect\GlobalLink\Model\Config\Source\Logging</source_model>
                    <comment><![CDATA[Keep CTRL to unselect]]></comment>
                    <can_be_empty>1</can_be_empty>
                </field>
                <!--<field id="download_logs" translate="button_label" type="button" sortOrder="11" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label />
                    <frontend_model>TransPerfect\GlobalLink\Block\System\Config\Button\DownloadLog</frontend_model>
                </field>-->
                <field id="reindexing" translate="label" type="select" sortOrder="12" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Re-index After Importing Translation</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="automation" translate="label" type="select" sortOrder="12" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Automatic Submission and Retrieval of Translations</label>
                    <comment>Does not affect new entity automation.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="auto_import" translate="label" type="select" sortOrder="12" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Automatically Import After Checking for Translations</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="receive_by_submission" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Receive Translations by Submission</label>
                    <comment><![CDATA[Otherwise, translations will be received by project]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="email_errors" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Email Errors</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="email_address" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Email Addresses</label>
                    <comment><![CDATA[Separate addresses with comma]]></comment>
                    <validate>validate-email-list required-entry</validate>
                    <depends>
                        <field id="*/*/email_errors">1</field>
                    </depends>
                </field>
                <field id="project_short_codes" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>GlobalLink Default Project</label>
                    <comment><![CDATA[Separate codes with comma]]></comment>
                    <validate>validate-classifier required-entry</validate>
                </field>
                <field id="files_per_submission" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Files per Submission</label>
                    <validate>validate-greater-than-zero validate-number required-entry</validate>
                </field>
                <field id="max_target_count" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Max Target Count</label>
                    <comment>Number 1 through 1000</comment>
                    <validate>validate-greater-than-zero validate-number required-entry validate-digits-range digits-range-1-1000</validate>
                </field>
                <field id="allow_duplicate_submissions" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Allow Duplicate Submissions</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="connection" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Connection</label>
                <field id="username" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Username</label>
                    <validate>required-entry</validate>
                    <comment><![CDATA[Required field]]></comment>
                </field>
                <field id="password" translate="label" type="obscure" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Password</label>
                    <validate>required-entry</validate>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <comment><![CDATA[Required field]]></comment>
                </field>
                <field id="url" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>GlobalLink Url</label>
                    <validate>required-entry</validate>
                    <comment><![CDATA[Required field]]></comment>
                </field>
                <field id="test_connection" translate="button_label" type="button" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label />
                    <frontend_model>TransPerfect\GlobalLink\Block\System\Config\Button\TestConnection</frontend_model>
                </field>
            </group>
        </section>
        <section id="globallink_classifiers" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>GlobalLink Classifier Settings</label>
            <tab>transperfect</tab>
            <resource>TransPerfect_GlobalLink::classifiers</resource>
            <group id="classifiers" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Classifiers</label>
                <field id="cmspageclassifier" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Classifier for CMS Pages</label>
                    <source_model>TransPerfect\GlobalLink\Model\Config\Source\Classifiers</source_model>
                </field>
                <field id="cmsblockclassifier" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Classifier for CMS Blocks</label>
                    <source_model>TransPerfect\GlobalLink\Model\Config\Source\Classifiers</source_model>
                </field>
                <field id="catalogcategoryclassifier" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Classifier for Categories</label>
                    <source_model>TransPerfect\GlobalLink\Model\Config\Source\Classifiers</source_model>
                </field>
                <field id="cartalogproductclassifier" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Classifier for Products</label>
                    <source_model>TransPerfect\GlobalLink\Model\Config\Source\Classifiers</source_model>
                </field>
                <field id="productattributeclassifier" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Classifier for Product Attributes</label>
                    <source_model>TransPerfect\GlobalLink\Model\Config\Source\Classifiers</source_model>
                </field>
                <field id="customerattributeclassifier" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Classifier for Customer Attributes</label>
                    <source_model>TransPerfect\GlobalLink\Model\Config\Source\OpenSourceClassifiers</source_model>
                </field>
                <field id="reviewclassifier" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Classifier for Product Reviews</label>
                    <source_model>TransPerfect\GlobalLink\Model\Config\Source\Classifiers</source_model>
                </field>
                <field id="bannerclassifier" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Classifier for Dynamic Blocks</label>
                    <source_model>TransPerfect\GlobalLink\Model\Config\Source\Classifiers</source_model>
                </field>
            </group>
        </section>
        <section id="globallink_translate_new_entities" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>GlobalLink New Entity Automation Settings</label>
            <tab>transperfect</tab>
            <resource>TransPerfect_GlobalLink::translate_new_entities</resource>
            <group id="translate_new_products" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>New Product Translation Automation Settings</label>
                <field id="translate_new_products" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Automatically Translate Newly Created Products</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="tnp_project" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Project Used</label>
                    <comment><![CDATA[Make Sure Connection is Valid First]]></comment>
                    <source_model>TransPerfect\GlobalLink\Model\Config\Source\Project</source_model>
                    <depends>
                        <field id="*/*/translate_new_products">1</field>
                    </depends>
                </field>
                <field id="tnp_source_locale" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Source Locale</label>
                    <comment><![CDATA[Make Sure Connection is Valid First]]></comment>
                    <source_model>TransPerfect\GlobalLink\Model\Config\Source\Locale</source_model>
                    <depends>
                        <field id="*/*/translate_new_products">1</field>
                    </depends>
                </field>
                <field id="tnp_number_of_days" translate="label" type="text" sortOrder="32" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Due-Date (Days from Now)</label>
                    <comment><![CDATA[Number of days from today the due-date should be]]></comment>
                    <validate>validate-greater-than-zero validate-number required-entry validate-digits-range digits-range-2-50</validate>
                    <depends>
                        <field id="*/*/translate_new_products">1</field>
                    </depends>
                </field>
                <field id="tnp_include_options" translate="label" type="select" sortOrder="35" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Include Customizable Options</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="*/*/translate_new_products">1</field>
                    </depends>
                </field>
                <field id="tnp_confirmation_email" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Confirmation Email</label>
                    <comment><![CDATA[Separate addresses with comma]]></comment>
                    <validate>validate-email-list</validate>
                    <depends>
                        <field id="*/*/translate_new_products">1</field>
                    </depends>
                </field>
            </group>
            <group id="translate_new_categories" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>New Category Translation Automation Settings</label>
                <field id="translate_new_categories" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Automatically Translate Newly Created Categories</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="tnc_project" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Project Used</label>
                    <comment><![CDATA[Make Sure Connection is Valid First]]></comment>
                    <source_model>TransPerfect\GlobalLink\Model\Config\Source\Project</source_model>
                    <depends>
                        <field id="*/*/translate_new_categories">1</field>
                    </depends>
                </field>
                <field id="tnc_source_locale" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Source Locale</label>
                    <comment><![CDATA[Make Sure Connection is Valid First]]></comment>
                    <source_model>TransPerfect\GlobalLink\Model\Config\Source\Locale</source_model>
                    <depends>
                        <field id="*/*/translate_new_categories">1</field>
                    </depends>
                </field>
                <field id="tnc_number_of_days" translate="label" type="text" sortOrder="32" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Due-Date (Days from Now)</label>
                    <comment><![CDATA[Number of days from today the due-date should be]]></comment>
                    <validate>validate-greater-than-zero validate-number required-entry validate-digits-range digits-range-2-50</validate>
                    <depends>
                        <field id="*/*/translate_new_categories">1</field>
                    </depends>
                </field>
                <field id="tnc_confirmation_email" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Confirmation Email</label>
                    <comment><![CDATA[Separate addresses with comma]]></comment>
                    <validate>validate-email-list</validate>
                    <depends>
                        <field id="*/*/translate_new_categories">1</field>
                    </depends>
                </field>
            </group>
            <group id="translate_new_product_attributes" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>New Product Attribute Translation Automation Settings</label>
                <field id="translate_new_product_attributes" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Automatically Translate Newly Created Product Attributes</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="tnpa_project" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Project Used</label>
                    <comment><![CDATA[Make Sure Connection is Valid First]]></comment>
                    <source_model>TransPerfect\GlobalLink\Model\Config\Source\Project</source_model>
                    <depends>
                        <field id="*/*/translate_new_product_attributes">1</field>
                    </depends>
                </field>
                <field id="tnpa_source_locale" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Source Locale</label>
                    <comment><![CDATA[Make Sure Connection is Valid First]]></comment>
                    <source_model>TransPerfect\GlobalLink\Model\Config\Source\Locale</source_model>
                    <depends>
                        <field id="*/*/translate_new_product_attributes">1</field>
                    </depends>
                </field>
                <field id="tnpa_number_of_days" translate="label" type="text" sortOrder="32" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Due-Date (Days from Now)</label>
                    <comment><![CDATA[Number of days from today the due-date should be]]></comment>
                    <validate>validate-greater-than-zero validate-number required-entry validate-digits-range digits-range-2-50</validate>
                    <depends>
                        <field id="*/*/translate_new_product_attributes">1</field>
                    </depends>
                </field>
                <field id="tnpa_include_options" translate="label" type="select" sortOrder="35" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Include Attribute Options</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="*/*/translate_new_product_attributes">1</field>
                    </depends>
                </field>
                <field id="tnpa_confirmation_email" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Confirmation Email</label>
                    <comment><![CDATA[Separate addresses with comma]]></comment>
                    <validate>validate-email-list</validate>
                    <depends>
                        <field id="*/*/translate_new_product_attributes">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
